<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresos-Gastos: {{title}}</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="static/pico.css">
</head>
<!--esto es un comentario en html-->
<body>

    <header>
        <div>
            <a href="/"class="miEstilo2" >Inicio</a> |
            <a href="/new" class="miEstilo2">Nuevo</a> |
        
        </div>

        <h1>Aplicacion Web Flask de BCXV</h1>
    </header>
    <section>
        {# esto es un comentario en jinja#}
        {% block pageBase %} {# esto es un hueco para recibir una plantilla html#}

        {%endblock%}


    </section>
    <footer>
        &copy; 2023 - Todos los derechos reservados- marco@email.com
    </footer>

</body>
</html>