<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresos-Gastos: Lista</title>
</head>
<!--esto es un comentario en html-->
<style>
    table,th,td{
        border: 1px solid rgb(89, 17, 17);
    }

</style>
<body>

    <header>
        <h1>Aplicacion Web Flask de BCXV</h1>
    </header>
    <section>
        {# esto es un comentario en jinja#}
        {% block pageBase %} {# esto es un hueco para recibir una plantilla html#}

        {%endblock%}


    </section>
    <footer>
        &copy; 2023 - Todos los derechos reservados- marco@email.com
    </footer>

</body>
</html>