{% extends "base.html" %}

{% block pageBase %}
<h1>Esto seria {{tipoAccion}} de Ingreso-Gastos</h1>
        
        <form action="{{urlForm}}" method="POST">
            <label>Fecha:</label>
            <input type="date" name="fecha" value="{{dataForm.fecha}}"><br>
            <label>Concepto:</label>
            <input type="text" name="concepto" value="{{dataForm.concepto}}"><br>
            <label id="quantity">Monto:</label>
            <input type="number" name="monto"  value="{{dataForm.monto}}" step="0.01"><br><br>

            <button type="submit">{{tipoBoton}}</button>
        </form> 


        <a href="/">Volver</a>

        <div style="background-color: rgb(130, 131, 131);">
            <ul>
                {% for item in error %}
            
                    <li style="color:red">{{item}}</li>
            
                {% endfor %}
            </ul>
        </div>
{% endblock %}